extends ../layouts/brastel-admin

block content
	- if (false)
		.alert.alert-info
			p $state = {{$state.current.name}}
			p $stateParams = {{$stateParams}}
			
	
	//Option 1 : ui-router normal behaviour
	//use only one ui-view directive		
	//div(ui-view)
	
	//Option 2: ui-router "extra" features: "deep state redirect" and "sticky" states.
	//use multiple ui-view directives
	div(ui-view="items", ng-show="$state.includes('items')")
	div(ui-view="keywords", ng-show="$state.includes('keywords')")
	div(ui-view="blog", ng-show="$state.includes('blog')")
	div(ui-view="faq", ng-show="$state.includes('faq')")
							
								
block js
	script(src="/keystone/js/lib/tinymce/tinymce.min.js")
	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-sanitize.js")
	
	//script(src="/keystone/js/common/ui-wysiwyg.js")
	script(src="/js/admin/app.js")
	script(src="/js/admin/services.js")
	script(src="/js/admin/controllers.js")
		