extends ../layouts/brastel-admin

block content
	- if (false)
		.alert.alert-info
			p $state = {{$state.current.name}}
			p $stateParams = {{$stateParams}}
			
	div(ui-view)
							
								
block js
	script(src="/keystone/js/lib/tinymce/tinymce.min.js")
	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-sanitize.js")
	
	//script(src="/keystone/js/common/ui-wysiwyg.js")
	script(src="/js/admin/app.js")
	script(src="/js/admin/services.js")
	script(src="/js/admin/controllers.js")
		