extends ../layouts/default
		
block content
	.container
		h1
			+translation(153, 1, '<default title of the FAQ page>')
		p
			+translation(153, 2, '<default introduction of the FAQ page>')
			
			
		
		#acordion.panel-group
			
			each category in categories
				h2= category.text
		
				each faq in category.faqs
					- var faqID = category.value+'-'+faq.number
					.panel.panel-default
						.panel-heading
							h4.panel-title
								a(href='#' + faqID,data-toggle='collapse', data-parent='#accordion')= faq.number + '. '+ faq.title
						.panel-collapse.collapse(id=faqID)
							.panel-body
								p!= faq.body